h1 {
  color: red;
}

h2 {
  color: purpule;
}

h3 {
  color: blue;
}

h4 {
  color: orange;
}

h5 {
  color: green;
}

h6 {
  color: turqouise;
}

p {
  color: yellow;
}

div {
  color: grey;
}

span {
  color: black;
}
